// ---------------------------------  Declaration Area  ------- >
$dark_color: black;
$light_color: rgb(255, 255, 255);
$dark_text_color: rgb(41, 41, 41);
$light_text_color: rgb(171, 171, 171);

$brown_bg: radial-gradient( #bc6f03 0%, #874000 74%);
$green_bg: radial-gradient(#538c19 0%, #1a512e 74%);
$red_bg: radial-gradient(#a90000 0%, #7b0000 74%);
$golden_bg: radial-gradient(#ddc000 0%, #ffa515 74%);

// -------------------------------  General Style & Class  ---- >
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    &:focus { outline: none; }
}
body {
    background: url('https://i.pinimg.com/originals/86/cb/99/86cb99d27d7cdaef5572a21c5167e625.png') no-repeat;
    background-size: 100vw 100vh;
}
.block { display: block; }

// Cards dynamic background colors -- >

.brown-bg {
    background: $brown_bg;
    border: 10px solid rgba(0, 0, 0, 0.4);
}
.green-bg {
    background: $green_bg;
    border: 10px solid rgba(0, 0, 0, 0.4);
}
.red-bg {
    background: $red_bg;
    border: 10px solid rgba(0, 0, 0, 0.4);
}
.golden-bg {
    background: $golden_bg;
    border: 10px solid rgba(0, 0, 0, 0.4);
}
.golden-style-set {
    @extend .card-self;

    .card-item-1 {
        color: rgb(0, 0, 0) !important;
        
        h1 {
            text-shadow: 1px 1px rgb(187, 187, 187), -2px 0px rgb(78, 78, 78) !important;
        }
        span {
            color: rgb(0, 0, 0) !important;
        }
    }
        
    .card-icon { color: rgb(0, 0, 0) !important; }
}

// -------------------------------  Card Construct & Style  ---- >
.main-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}
.warrior-cards-container {
    flex-basis: 85%;
    overflow-y: auto;


    .warrior-cards-wrapper {
        width: 100%;
        height: 100%;
        padding: 20px 0px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-row-gap: 50px;

        .card-wrapper {
            justify-self: center;
            width: 350px;
            height: 400px;
            border-radius: 50px;
            box-shadow: 0 0 40px rgb(0, 0, 0);
            
            .card-self {
                height: 100%;
                display: grid;
                grid-template-rows: 20% 60% 20%;
                border-radius: 50px;
            }
            .card-item-1 {
                justify-self: center;
                text-align: center;
                color: lighten($light_text_color, 100);
                
                h1 {
                    text-shadow: 1px 1px rgb(0, 0, 0), -3px 1px rgb(0, 0, 0);
                    letter-spacing: 2px;
                    font-size: 2.4rem; 
                }
                span {
                    color: $light_text_color;
                    font-size: 1.2rem; 
                    font-weight: 600;
                }
            }
            .card-item-2 {
                overflow: hidden;

                img {
                    width: auto;
                    max-height:100%;
                    margin: 0 auto;
                }
            }
            .card-item-3 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                justify-items: center;
                
                .card-icon {
                    text-align: center;
                    color: $light_text_color;
                    font-weight: bold;
                    i , b{
                        color: lighten($light_text_color, 100);
                        font-size: 1.6rem;
                        text-shadow: -1px -2px 3px black;
                    }
                    span {display: block; font-size: 1.2rem; }
                }
            }
        }
        
    } // warrior-cards-wrapper
} // warrior-cards-container


// -------------------------------  Bottom BTN  ---- >
.button-section {
    flex-basis: 15%;
    
    .button-inner {
        position: relative;
        top: 55px;
        height: 6px;
        background: linear-gradient(to right, #363636 0%, black 30%, transparent 38%, transparent 62%, black 70%, #363636 100%);
        z-index: -1;
    }
    .generate-btn {
        width: 350px;
        height: 70px;
        margin: 0 auto;
        margin-top: 20px;
        color: $light_text_color;
        font-weight: bold;
        font-size: 2rem;
        border: none;
        border-radius: 20px;
        background-color: #000000;
        background-image: linear-gradient(to right bottom, #363636 0%, #181717 100%);
        box-shadow: 0 0 9px rgb(0, 0, 0);
        transition: all 0.3s;
        &:hover {
            color: lighten($light_text_color, 100);
            letter-spacing: 2px;
        }
        &:active {box-shadow: inset 0 0 9px rgb(0, 0, 0); }
    }
}

// -------------------------------  Animations  ---- >

.zoom-in-down {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
} 
    