// ---------------------------------  Declaration Area  ------- >
$dark_color: black;
$light_color: rgb(255, 255, 255);
$dark_text_color: rgb(41, 41, 41);
$light_text_color: rgb(171, 171, 171);

$brown_bg: radial-gradient( #bc6f03 0%, #874000 74%);
$green_bg: radial-gradient(#538c19 0%, #1a512e 74%);
$red_bg: radial-gradient(#a90000 0%, #7b0000 74%);
$golden_bg: radial-gradient(#ddc000 0%, #ffa515 74%);

// -------------------------------  General Style & Class  ---- >
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Cambria, Georgia, Times, 'Times New Roman', serif;
    &:focus { outline: none; }
}
body {
    background: url('https://i.pinimg.com/originals/86/cb/99/86cb99d27d7cdaef5572a21c5167e625.png') no-repeat;
    background-size: 100vw 100vh;
    background-attachment: fixed;
}
.block { display: block; }

// Cards dynamic background colors -- >
.brown-bg {
    background: $brown_bg;
    border: 10px solid rgba(0, 0, 0, 0.4);
    &:hover { border-color: rgba(0, 0, 0, 0.8);}
}
.green-bg {
    background: $green_bg;
    border: 10px solid rgba(0, 0, 0, 0.4);
    &:hover { border-color: rgba(0, 0, 0, 0.8);}
}
.red-bg {
    background: $red_bg;
    border: 10px solid rgba(0, 0, 0, 0.4);
    &:hover { border-color: rgba(0, 0, 0, 0.8);}
}
.golden-bg {
    background: $golden_bg;
    border: 10px solid rgba(0, 0, 0, 0.4);
    &:hover { border-color: rgba(0, 0, 0, 0.8);}
}
.golden-style-set {
    @extend .card-self;

    .card-item-1 {
        color: rgb(0, 0, 0) !important;
        
        h1 {
            text-shadow: 1px 1px rgb(187, 187, 187), -2px 0px rgb(78, 78, 78) !important;
        }
        span {
            color: rgb(0, 0, 0) !important;
        }
    }
        
    .card-icon { color: rgb(0, 0, 0) !important; }
}

// -------------------------------  Card Construct & Style  ---- >
.main-container {
    width: 98vw;
    height: 100vh;
}
.warrior-cards-container {
    overflow-y: auto;
    overflow-x: hidden;


    .warrior-cards-wrapper {
        width: 100%;
        height: 100%;
        padding: 20px 0px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: auto;
        grid-row-gap: 50px;

        .card-wrapper {
            justify-self: center;
            width: 330px;
            height: 370px;
            margin-bottom: 40px;
            border-radius: 50px;
            box-shadow: 0 0 20px rgb(41, 41, 41);
            transition: all 0.4s;
            &:hover { box-shadow: 0 0 25px rgb(0, 0, 0); }
            
            .card-self {
                height: 100%;
                display: grid;
                grid-template-rows: 20% 60% 20%;
                border-radius: 50px;
            }
            .card-item-1 {
                justify-self: center;
                text-align: center;
                color: lighten($light_text_color, 100);
                
                h1 {
                    text-shadow: 1px 1px rgb(0, 0, 0), -3px 1px rgb(0, 0, 0);
                    letter-spacing: 2px;
                    font-size: 2.4rem; 
                }
                span {
                    color: $light_text_color;
                    font-size: 1.2rem; 
                    font-weight: 600;
                }
            }
            .card-item-2 {
                overflow: hidden;

                img {
                    width: auto;
                    max-height:100%;
                    margin: 0 auto;
                }
            }
            .card-item-3 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                align-items: center;
                justify-items: center;
                
                .card-icon {
                    text-align: center;
                    color: $light_text_color;
                    font-weight: bold;
                    i , b{
                        color: lighten($light_text_color, 100);
                        font-size: 1.6rem;
                        text-shadow: -1px -2px 3px black;
                    }
                    span {display: block; font-size: 1.2rem; }
                }
            }
        }
        
    } // warrior-cards-wrapper
} // warrior-cards-container


// -------------------------------  Bottom BTN  ---- >
.button-section {
    width: 160px;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 10;

    .generate-btn {
        width: 150px;
        height: 150px;
        color: $light_text_color;
        font-weight: bold;
        font-size: 1.8rem;
        border: none;
        border-radius: 50%;
        background-image: linear-gradient(to right bottom, rgb(23, 23, 23) 0%, rgb(66, 66, 66) 50%,rgb(23, 23, 23) 100%);
        box-shadow: 0 0 9px rgb(0, 0, 0);
        opacity: 0.7;
        transition: all 0.3s;

        &:hover {
            margin-bottom: 8px;
            color: lighten($light_text_color, 100);
            letter-spacing: 2px;
            opacity: 1;
        }
        &:active {box-shadow: inset 0 0 9px rgb(0, 0, 0); }
    }
}

// -------------------------------  Animations  ---- >
.zoom-in-down {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
@keyframes zoomInDown {
    0% {
        opacity: 0;
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
        animation-timing-function: cubic-bezier(0.550, 0.055, 0.675, 0.190);
    }
    60% {
        opacity: 1;
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        -webkit-animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
        animation-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1);
    }
} 

// -----------------  Media Queries Brakpoints  ---- >
@media screen and (max-width: 1400px) {
    .warrior-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr) !important;
    }
}
@media screen and (max-width: 1050px) {
    .main-container {
        width: 95vw;
    }
    .warrior-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(2, 1fr) !important;
    }
}
@media screen and (max-width: 750px) {
    .warrior-cards-wrapper {
        display: grid;
        grid-template-columns: repeat(1, 1fr) !important;
    }
}
